<h2>Grade</h2>
<p id="notice"><%= notice %></p>

<p>
    <strong>French:</strong>
    <%= @grade.french %>
</p>
<p>
    <strong>UK:</strong>
    <%= @grade.uk %>
</p>
<p>
    <strong>Australia:</strong>
    <%= @grade.australia %>
</p>
<p>
    <strong>UIAA:</strong>
    <%= @grade.uiaa %>
</p>
<p>
    <strong>USA:</strong>
    <%= @grade.usa %>
</p>
<p>
    <strong>Hueco:</strong>
    <%= @grade.hueco %>
</p>
<p>
    <strong>UKB:</strong>
    <%= @grade.ukb %>
</p>
<p>
    <strong>Fontainebleau:</strong>
    <%= @grade.fontainebleau %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
