<%= form_for(@crag, html: {role: "form", oninput: "x.value=parseInt(crag_zoom.value)"}) do |f| %>
  <% if @crag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crag.errors.count, "error") %> prohibited this crag from being saved:</h2>

      <ul>
      <% @crag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-field <%=if @crag.errors[:name].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-field <%=if @crag.errors[:territory].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :territory_id %><br>
      <%= select("crag", "territory_id", Territory.all.collect {|r| [ r.name, r.id ] }, {include_blank: ''},
       class: "form-control" )  %>
    </div>
    
    <div class="form-text">
      <%= f.label :directions %><br>
      <%= f.text_area :directions, class: "form-control"  %>
    </div>
    <div class="form-text">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control"  %>
    </div>
    <div class="form-text">
      <%= f.label :history %><br>
      <%= f.text_area :history, class: "form-control"  %>
    </div>


    <br>
    <%= render 'static/googleMap' %>
        <div class="form-field <%=if @crag.errors[:latitude].present? then 'has-error' else 'has-success' end %> ">
      <label for="latitude">Latitude</label>
      <input class="form-control" id="latitude" name="crag[latitude]" type="text" value="<%= if @crag.latitude then @crag.latitude else 0.0 end %>" />
    </div>

    <div class="form-field <%=if @crag.errors[:longitude].present? then 'has-error' else 'has-success' end %> ">
      <label for="longitude">Longitude</label>
      <input class="form-control" id="longitude" name="crag[longitude]" type="text" value="<%= if @crag.longitude then @crag.longitude else 0.0 end %>" />
    </div>

    <div>    
      <label for="zoom">Zoom</label><br>
      <input id="zoom" name="crag[zoom]" type='number' 
      value="<%= if @crag.zoom then @crag.zoom else 2 end %>" class="form-field" />
    </div>


    <div class="actions col-md-12">
      <%= f.submit class: "form-button" %>
    </div>
  </div>
<% end %>
