<h2>Crag</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crag.name %>
</p>

<p>
  <strong>Territory:</strong>
  <%= if @crag.territory
        link_to @crag.territory.name, territory_path(@crag.territory) 
      else 
        "Deleted, please re-select" 
      end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @crag.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @crag.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @crag.zoom %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @crag.directions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crag.description %>
</p>

<p>
  <strong>History:</strong>
  <%= @crag.history %>
</p>

<br>
<%= render 'static/googleMap' %>
<br>

<strong>Walls</strong> | <%= link_to 'Add Wall', new_wall_path(id: @crag.id.to_s) %>
<%= render 'walls/table' %>

<%= link_to 'Edit', edit_crag_path(@crag) %> |
<%= link_to 'Back', crags_path %>
