<table class="index-table">
  <thead>
    <tr class="index-th">
      <th>Title</th>
      <th>Sport Route</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sport_route_videos.each do |sport_route_video| %>
      <tr class="index-tr">
        <td><%= sport_route_video.title %></td>
        <td><%= if sport_route_video.sport_route != nil then sport_route_video.sport_route.name else "Sport route deleted" end %></td>
        <td><iframe class="video" src="<%= sport_route_video.url %>" frameborder="0" allowfullscreen></iframe></td>
        <td><%= sport_route_video.description %></td>
        <td class="index-action"><%= link_to 'Show', sport_route_video %></td>
        <td class="index-action"><%= link_to 'Edit', edit_sport_route_video_path(sport_route_video) %></td>
        <td class="index-action"><%= link_to 'Destroy', sport_route_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
