<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sport_route_video.title %>
</p>

<p>
  <strong>Sport Route:</strong>
  <%= if @sport_route_video.sport_route != nil then @sport_route_video.sport_route.name else "Deleted, please re-select" end %>
</p>

<p>
  <strong>Video:</strong><br>
    <iframe class="video" src="<%= @sport_route_video.url %>" frameborder="0" allowfullscreen></iframe>
</p>

<p>
  <strong>Url:</strong>
  <%= @sport_route_video.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sport_route_video.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @sport_route_video.user %>
</p>

<%= link_to 'Edit', edit_sport_route_video_path(@sport_route_video) %> |
<%= link_to 'Back', sport_route_videos_path %>
