<%= form_for(@sport_route) do |f| %>
  <% if @sport_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport_route.errors.count, "error") %> prohibited this sport_route from being saved:</h2>

      <ul>
      <% @sport_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :zoom %><br>
    <select id="sport_route_zoom" name="sport_route[zoom]">
      <%- 16.times do |i| %>
        <option value='<%= i+1 %>'><%= i+1 %></option>
      <%- end %>
    </select>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :directions %><br>
    <%= f.text_area :directions %>
  </div>
  <div class="field">
    <%= f.label :wall_id %><br>
    <%= f.text_field :wall_id %>
  </div>
  <div class="field">
    <%= f.label :danger_rating %><br>
    <%= f.text_field :danger_rating %>
  </div>
  <div class="field">
    <%= f.label :bolts %><br>
    <%= f.number_field :bolts %>
  </div>
  <div class="field">
    <%= f.label :stars %><br>
    <%-5.times do |i|%>
      <input type="radio" name="sport_route[stars]" value="<%=i+1%>"> <%=i+1%> 
    <%-end%>
  </div>
  <div class="field">
    <%= f.label :pitches %><br>
    <%= f.number_field :pitches %>
  </div>
  <div class="field">
    <%= render 'yds' %>
  </div>
  <div class="field">
    <%= f.label :anchor %><br>
    <%= f.text_field :anchor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
