<%= form_for(@sport_route) do |f| %>
  <% if @sport_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport_route.errors.count, "error") %> prohibited this sport_route from being saved:</h2>

      <ul>
      <% @sport_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-field <%=if @sport_route.errors[:wall].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :wall_id %><br>
      <%= select("sport_route", "wall_id", Wall.all.collect {|r| [ r.name, r.id ] }, {include_blank: ''},
       class: "form-control" )  %>
    </div>

    <div class="form-field">
      <%= f.label :stars %><br>
      <%-5.times do |i|%>
				<%= f.radio_button :stars, i %>
				<%= f.label :stars, i+1 %>
      <%-end%>
    </div>

    <div class="form-field">
      <%= f.label :length %><br>
      <%= f.text_field :length, class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :pitches %><br>
      <%= f.number_field :pitches, class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :bolts %><br>
      <%= f.number_field :bolts, class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :danger_rating %><br>
			<%= f.select :danger_rating, DangerRating.getArray, {}, class: "form-control" %>
    </div>

    <div class="form-field">
    <%= f.label :yds_grade %><br>
    <%= f.select :yds_grade, YdsGrade.getArray, {}, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :anchor %><br>
      <%= f.select :anchor, AnchorType.getArray, {}, class: "form-control" %>
    </div>
    
    <div class="form-field">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude, class: "form-control" %>
    </div>
    

    <div class="form-field">
      <%= f.label :zoom %><br>
      <%= f.number_field :zoom, class: "form-control" %>
    </div>
    
    <div class="form-text">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-text">
      <%= f.label :directions %><br>
      <%= f.text_area :directions, class: "form-control" %>
    </div>
    <div class="actions col-md-12">
      <%= f.submit class: "form-button" %>
    </div>
  </div>
<% end %>
