<%= form_for(@boulder_route_photo) do |f| %>
  <% if @boulder_route_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boulder_route_photo.errors.count, "error") %> prohibited this boulder_route_photo from being saved:</h2>

      <ul>
      <% @boulder_route_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-field <%=if @boulder_route_photo.errors[:title].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-field <%=if @boulder_route_photo.errors[:boulder_route_id].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :boulder_route_id %><br>
      <%= f.text_field :boulder_route_id, class: "form-control" %>
    </div>
    <div class="form-field <%=if @boulder_route_photo.errors[:url].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="actions col-md-12">
      <%= f.submit class: "form-button" %>
    </div>
  </div>
<% end %>
