<%= render "static/adminToolbar" %>

<h1>Listing sport_route_photos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sport route</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sport_route_photos.each do |sport_route_photo| %>
      <tr>
        <td><%= sport_route_photo.title %></td>
        <td><%= sport_route_photo.sport_route %></td>
        <td><%= sport_route_photo.url %></td>
        <td><%= link_to 'Show', sport_route_photo %></td>
        <td><%= link_to 'Edit', edit_sport_route_photo_path(sport_route_photo) %></td>
        <td><%= link_to 'Destroy', sport_route_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sport route photo', new_sport_route_photo_path %>
