<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="form-field  <%=if @user.errors[:username].present? then 'has-error' else 'has-success' end %>">
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-field  <%=if @user.errors[:password].present? then 'has-error' else 'has-success' end %>">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-field  <%=if @user.errors[:password].present? then 'has-error' else 'has-success' end %>">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-field  <%=if @user.errors[:first_name].present? then 'has-error' else 'has-success' end %>">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-field  <%=if @user.errors[:last_name].present? then 'has-error' else 'has-success' end %>">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-field  <%=if @user.errors[:email].present? then 'has-error' else 'has-success' end %>">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <%- if session[:user_id] && session[:user_type] == "admin" %>
    <div class="form-field  <%=if @user.errors[:name].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :user_type %><br>
      <select class="form-control" name="user[user_type]" id="user_type">
        <option value=""></option>
        <option value="defualt" <%= if @user.user_type == 'defualt' then 'selected' end %> >defualt</option>
        <option value="manager" <%= if @user.user_type == 'manager' then 'selected' end %> >manager</option>
        <option value="admin" <%= if @user.user_type == 'admin' then 'selected' end %> >administrator</option>
      </select>
    </div>
  <%- end %>


  <div class="actions col-md-12">
    <%= f.submit class: "form-button" %>
  </div>
</div>
<% end %>
