<%= form_for(@state) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-field  <%=if @state.errors[:name].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-field <%=if @state.errors[:region_id].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :region_id %><br>
      <%= select("state", "region_id", Region.all.collect {|r| [ r.name, r.id ] }, {include_blank: ''}, class: "form-control") %>
    </div>
    <div class="form-field <%=if @state.errors[:latitude].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude, class: "form-control" %>
    </div>
    <div class="form-field <%=if @state.errors[:longitude].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude, class: "form-control" %>
    </div>
    <div class="form-field <%=if @state.errors[:zoom].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :zoom %><br>
      <%= f.number_field :zoom, class: "form-control"  %>
    </div>
    <div class="form-text">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control"  %>
    </div>
    <div class="form-text">
      <%= f.label :history %><br>
      <%= f.text_area :history, class: "form-control"  %>
    </div>
    <div class="actions col-md-12">
      <%= f.submit class: "form-button"%>
    </div>
  </div>
<% end %>
