<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= if @state.region
        link_to @state.region.name, region_path(@state.region) 
      else 
        "Deleted, please re-select" 
      end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @state.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @state.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @state.zoom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @state.description %>
</p>

<p>
  <strong>History:</strong>
  <%= @state.history %>
</p>

<strong>Areas</strong>
<%= render "areas/table" %>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Add Area', new_area_path(id: @state.id.to_s) %> |
<%= link_to 'Back', states_path %>
