<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @state.region %>
</p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @state.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @state.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @state.zoom %>
</p>

<p>
  <strong>History:</strong>
  <%= @state.history %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
