<%= form_for(@wall_photo) do |f| %>
  <% if @wall_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall_photo.errors.count, "error") %> prohibited this wall_photo from being saved:</h2>

      <ul>
      <% @wall_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-field <%=if @wall_photo.errors[:title].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-field <%=if @wall_photo.errors[:wall_id].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :wall_id %><br>
      <%= select("wall_photo", "wall_id", Wall.all.collect {|r| [ r.name, r.id ] }, {include_blank: ''},
       class: "form-control" )  %>
    </div>

    <div class="form-field <%=if @wall_photo.errors[:url].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="actions col-md-12">
      <%= f.submit class: "form-button" %>
    </div>
  </div>
<% end %>
