<%= form_for(@traditional_route) do |f| %>
  <% if @traditional_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traditional_route.errors.count, "error") %> prohibited this traditional_route from being saved:</h2>

      <ul>
      <% @traditional_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    
    <div class="row">
      <div class="form-group <%=if @traditional_route.errors[:name].present? then 'has-error' else 'has-success' end %> ">
        <div class="form-field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-field <%=if @traditional_route.errors[:wall].present? then 'has-error' else 'has-success' end %>">
          <%= f.label :wall_id %><br>
          <%= select("traditional_route", "wall_id", Wall.all.collect {|r| [ r.name, r.id ] }, {include_blank: ''},
           class: "form-control" )  %>
        </div>

        <div class="form-stars <%=if @traditional_route.errors[:stars].present? then 'has-error' else 'has-success' end %> ">
          <%= f.label :stars %><br>
          <%-5.times do |i|%>
            <input type="radio" name="traditional_route[stars]" value="<%=i+1%>", class: "form-control"> <%=i+1%> 
          <%-end%>
        </div>
        

        <div class="form-field">
          <%= f.label :length %><br>
          <%= f.text_field :length, class: "form-control" %>
        </div>
        <div class="form-field">
          <%= f.label :pitches %><br>
          <%= f.number_field :pitches, class: "form-control" %>
        </div>
      </div>

      <div class="row">

        <div class="form-field <%=if @traditional_route.errors[:].present? then 'has-error' else 'has-success' end %> ">
        <%= f.label : %><br>
          <select id="traditional_route_" name="traditional_route[]", class="form-control">
            <%- YdsGrade.getArray().each do |grade| %>
              <option value="<%= grade %>" ><%= grade %> </option>
            <%- end %>
          </select>
        </div>

        <div class="form-field">
          <%= f.label :danger_rating %><br>
          <select id="traditional_route_danger_rating" name="traditional_route[danger_rating]", class="form-control">
            <%- DangerRating.getArray().each do |danger| %>
              <option value="<%= danger %>" ><%= danger %> </option>
            <%- end %>
          </select>
        </div>
        

        <div class="form-field">
          <%= f.label :latitude %><br>
          <%= f.text_field :latitude, class: "form-control" %>
        </div>
        <div class="form-field">
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude, class: "form-control" %>
        </div>

        <div class="form-field">
          <%= f.label :zoom %><br>
          <%= f.number_field :zoom, class: "form-control" %>
        </div>

      </div>
      
      <div class="row">
        <div class="form-text">
          <%= f.label :gear_needed %><br>
          <%= f.text_area :gear_needed, class: "form-control" %>
        </div>
        <div class="form-text">
          <%= f.label :anchor %><br>
          <%= f.text_area :anchor, class: "form-control" %>
        </div>
        <div class="form-text">
          <%= f.label :description %><br>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-text">
          <%= f.label :directions %><br>
          <%= f.text_area :directions, class: "form-control" %>
        </div>
      </div>

      <div class="actions col-md-12">
        <%= f.submit class: "form-button" %>
      </div>

    </div>
  </div>
<% end %>
