<h2>Listing Traditional Routes</h2>

<table class="index-table">
  <thead>
    <tr class="index-th">
      <th>Name</th>
      <th>Wall</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Zoom</th>
      <th>Description</th>
      <th>Directions</th>
      <th>Danger rating</th>
      <th>Gear needed</th>
      <th>Stars</th>
      <th>Pitches</th>
      <th>Yds grade</th>
      <th>Length</th>
      <th>Anchor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traditional_routes.each do |traditional_route| %>
      <tr class="index-tr">
        <td><%= traditional_route.name %></td>
        <td><%= if traditional_route.wall != nil then traditional_route.wall.name else "Wall has been deleted, please re-select" end%></td>
        <td><%= traditional_route.latitude %></td>
        <td><%= traditional_route.longitude %></td>
        <td><%= traditional_route.zoom %></td>
        <td><%= traditional_route.description %></td>
        <td><%= traditional_route.directions %></td>
        <td><%= traditional_route.danger_rating %></td>
        <td><%= traditional_route.gear_needed %></td>
        <td><%= traditional_route.stars %></td>
        <td><%= traditional_route.pitches %></td>
        <td><%= traditional_route.yds_grade %></td>
        <td><%= traditional_route.length %></td>
        <td><%= traditional_route.anchor %></td>
        <td class="index-action"><%= link_to 'Show', traditional_route %></td>
        <td class="index-action"><%= link_to 'Edit', edit_traditional_route_path(traditional_route) %></td>
        <td class="index-action"><%= link_to 'Destroy', traditional_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traditional route', new_traditional_route_path %>
