<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @traditional_route.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @traditional_route.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @traditional_route.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @traditional_route.zoom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @traditional_route.description %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @traditional_route.directions %>
</p>

<p>
  <strong>Wall:</strong>
  <%= @traditional_route.wall %>
</p>

<p>
  <strong>Danger rating:</strong>
  <%= @traditional_route.danger_rating %>
</p>

<p>
  <strong>Gear needed:</strong>
  <%= @traditional_route.gear_needed %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @traditional_route.stars %>
</p>

<p>
  <strong>Pitches:</strong>
  <%= @traditional_route.pitches %>
</p>

<p>
  <strong>Yds grade:</strong>
  <%= @traditional_route.yds_grade %>
</p>

<p>
  <strong>Length:</strong>
  <%= @traditional_route.length %>
</p>

<p>
  <strong>Anchor:</strong>
  <%= @traditional_route.anchor %>
</p>

<%= link_to 'Edit', edit_traditional_route_path(@traditional_route) %> |
<%= link_to 'Back', traditional_routes_path %>
