<h2>Traditional Route</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @traditional_route.name %>
</p>

<p>
  <strong>Wall:</strong>
  <%= if @traditional_route.wall
        link_to @traditional_route.wall.name, wall_path(@traditional_route.wall) 
      else 
        "Deleted, please re-select" 
      end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @traditional_route.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @traditional_route.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @traditional_route.zoom %>
</p>

<p>
  <strong>Danger rating:</strong>
  <%= @traditional_route.danger_rating %>
</p>

<p>
  <strong>Gear needed:</strong>
  <%= @traditional_route.gear_needed %>
</p>

<p>
  <strong>Stars:</strong>
  <%= if (@traditional_route.stars && @traditional_route.stars >= 1 && @traditional_route.stars <= 5)
				@traditional_route.stars
			else
				"Not yet rated"
			end %>
</p>

<p>
  <strong>Pitches:</strong>
  <%= @traditional_route.pitches %>
</p>

<p>
  <strong>Grade:</strong>
  <%= if @traditional_route.grade
        @traditional_route.grade.usa
      else 
        "Deleted, please re-select" 
      end %>
</p>

<p>
  <strong>Length:</strong>
  <%= @traditional_route.length %>
</p>

<p>
  <strong>Anchor:</strong>
  <%= @traditional_route.anchor %>
</p>

<p>
  <strong>Description:</strong>
  <%= @traditional_route.description %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @traditional_route.directions %>
</p>

<br>
<%= render 'static/googleMap' %>
<br>

<button onclick="calcRoute()">
    Get Directions
</button>
<br>

<strong>Photos</strong> | <%= link_to 'Add Photo', new_traditional_route_photo_path(id: @traditional_route.id.to_s) %>
<%= render 'traditional_route_photos/table' %>

<%= link_to 'Edit', edit_traditional_route_path(@traditional_route) %> |
<%= link_to 'Back', traditional_routes_path %>
