<%= form_for(@wall) do |f| %>
  <% if @wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% @wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

      
    <div class="form-field <%=if @wall.errors[:name].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-field <%=if @wall.errors[:crag_id].present? then 'has-error' else 'has-success' end %>">
        <%= f.label :crag_id %><br>
        <%= select("wall", "crag_id", Crag.all.collect {|r| [ r.name, r.id ] }, {include_blank: ''},
         class: "form-control" )  %>
      </div>
    
    <div class="form-text">
      <%= f.label :directions %><br>
      <%= f.text_area :directions, class: "form-control" %>
    </div>
    <div class="form-text">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-text">
      <%= f.label :history %><br>
      <%= f.text_area :history, class: "form-control" %>
    </div>


    <br>
    <%= render 'static/adminMap' %>
        <div class="form-field <%=if @wall.errors[:latitude].present? then 'has-error' else 'has-success' end %> ">
      <label for="latitude">Latitude</label>
      <input class="form-control" id="latitude" name="wall[latitude]" type="text" value="<%= if @wall.latitude then @wall.latitude else 0.0 end %>" />
    </div>

    <div class="form-field <%=if @wall.errors[:longitude].present? then 'has-error' else 'has-success' end %> ">
      <label for="longitude">Longitude</label>
      <input class="form-control" id="longitude" name="wall[longitude]" type="text" value="<%= if @wall.longitude then @wall.longitude else 0.0 end %>" />
    </div>

    <div>    
      <label for="zoom">Zoom</label><br>
      <input id="zoom" name="wall[zoom]" type='number' 
      value="<%= if @wall.zoom then @wall.zoom else 2 end %>" class="form-field" />
    </div>



    <div class="actions col-md-12">
      <%= f.submit class: "form-button" %>
    </div>
  </div>
<% end %>
