<h1>Listing walls</h1>

<table>
  <thead>
    <tr>
      <th>Crag</th>
      <th>Name</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Zoom</th>
      <th>Directions</th>
      <th>Description</th>
      <th>History</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @walls.each do |wall| %>
      <tr>
        <td><%= wall.crag.name %></td>
        <td><%= wall.name %></td>
        <td><%= wall.longitude %></td>
        <td><%= wall.latitude %></td>
        <td><%= wall.zoom %></td>
        <td><%= wall.directions %></td>
        <td><%= wall.description %></td>
        <td><%= wall.history %></td>
        <td><%= link_to 'Show', wall %></td>
        <td><%= link_to 'Edit', edit_wall_path(wall) %></td>
        <td><%= link_to 'Destroy', wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wall', new_wall_path %>
