<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wall.name %>
</p>

<p>
  <strong>Crag:</strong>
  <%= if @wall.crag
        link_to @wall.crag.name, crag_path(@wall.crag) 
      else 
        "Deleted, please re-select" 
      end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @wall.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @wall.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @wall.zoom %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @wall.directions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wall.description %>
</p>

<p>
  <strong>History:</strong>
  <%= @wall.history %>
</p>

<strong>Sport Routes</strong>
<%= render 'sport_routes/table' %>

<strong>Traditional Routes</strong>
<%= render 'traditional_routes/table' %>

<strong>Boulder Routes</strong>
<%= render 'boulder_routes/table' %>

<strong>Wall Photos</strong>
<%= render 'wall_photos/table' %>

<%= link_to 'Edit', edit_wall_path(@wall) %> | 
<%= link_to 'Add Photo', new_wall_photo_path(id: @wall.id.to_s) %> |
<%= link_to 'Add Sport Route', new_sport_route_path(id: @wall.id.to_s) %> |
<%= link_to 'Add Traditional Route', new_traditional_route_path(id: @wall.id.to_s) %> |
<%= link_to 'Add Boulder Route', new_boulder_route_path(id: @wall.id.to_s) %> |
<%= link_to 'Back', walls_path %>
