<div class="btn-toolbar row" role="toolbar">
  <div class="btn-group">
      <%= link_to 'Regions', regions_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'States', states_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Areas', areas_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Territories', territories_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Crags', crags_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Walls', walls_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Sport Routes', sport_routes_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Traditional Routes', traditional_routes_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Boulder Routes', boulder_routes_path, class: ['btn', 'btn-default'] %>
      <%= link_to 'Photos', photos_path, class: ['btn', 'btn-default'] %>
      

<!-- #<%= link_to 'Wall Photos', wall_photos_path, class: ['btn', 'btn-default'] %>
     #<%= link_to 'Sport Route Photos', sport_route_photos_path, class: ['btn', 'btn-default'] %>
     #<%= link_to 'Traditional Route Photos', traditional_route_photos_path, class: ['btn', 'btn-default'] %>
      #<%= link_to 'Boulder Route Photos', boulder_route_photos_path, class: ['btn', 'btn-default'] %>
      -->
  </div>
</div>