<header>
	<div id="logo-container">
		<%= image_tag("logo-J.png", :alt => "J Tree") %>
	</div>
	<div id="icon-container">
		<div class="icon-btn">
			<%= image_tag("profile_icon_f1f9fb.png", :alt => "rss feed") %>
		</div>
		<div class="icon-btn">
			<%= image_tag("2 compass icon f1f9fb.png", :alt => "rss feed") %>
		</div>
		<div class="icon-btn">
			<%= image_tag("guide_icon_f1f9fb.png", :alt => "rss feed") %>
		</div>
	</div>
</header>

<div class="wrapper">
	<div class="screen" id="screen-1" data-video="assets/img_1.jpg">
		<%= image_tag("img_1.jpg", :alt => "rss feed") %>
		<h1 class="video-title"></h1>
	</div>
	<div class="screen" id="screen-1" data-video="assets/img_2.jpg">
		<%= image_tag("img_2.jpg", :alt => "rss feed") %>
		<h1 class="video-title"></h1>
	</div>
	<div class="screen" id="screen-1" data-video="assets/img_3.jpg">
		<%= image_tag("img_3.jpg", :alt => "rss feed") %>
		<h1 class="video-title"></h1>
	</div>
	<div class="screen" id="screen-1" data-video="assets/img_4.jpg">
		<%= image_tag("img_4.jpg", :alt => "rss feed") %>
		<h1 class="video-title"></h1>
	</div>
</div>

<nav id="next-btn">
	<a href="#" class="next-icon"></a>
</nav>

<!-- BigVideo Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.8.1.min.js"><\/script>')</script>
<script src="assets/jquery-ui-1.8.22.custom.min.js"></script>
<script src="assets/jquery.imagesloaded.min.js"></script>
<script src="//vjs.zencdn.net/c/video.js"></script>

<!-- BigVideo -->
<script src="assets/bigvideo.js"></script>

<!-- Tutorial Demo -->
<script src="assets/jquery.transit.min.js"></script>
<script>
	$(function() {

		// Use Modernizr to detect for touch devices, 
		// which don't support autoplay and may have less bandwidth, 
		// so just give them the poster images instead
		var screenIndex = 1,
				numScreens = $('.screen').length,
				isTransitioning = false,
				transitionDur = 1000,
				BV,
				videoPlayer,
				isTouch = false,
				$bigImage = $('.big-image'),
				$window = $(window);

		if (!isTouch) {
			// initialize BigVideo
			BV = new $.BigVideo({forceAutoplay:isTouch});
			BV.init();
			showVideo();

			BV.getPlayer().addEvent('loadeddata', function() {
				onVideoLoaded();
			});

			// adjust image positioning so it lines up with video
			$bigImage
				.css('position','relative')
				.imagesLoaded(adjustImagePositioning);
			// and on window resize
			$window.on('resize', adjustImagePositioning);
		}

		// Next button click goes to next div
		$('#next-btn').on('click', function(e) {
			e.preventDefault();
			if (!isTransitioning) {
				next();
			}
		});

		function showVideo() {
			BV.show($('#screen-'+screenIndex).attr('data-video'),{ambient:true});
		}

		function next() {
			isTransitioning = true;

			// update video index, reset image opacity if starting over
			if (screenIndex === numScreens) {
				$bigImage.css('opacity',1);
				screenIndex = 1;
			} else {
				screenIndex++;
			}

			if (true) {
				$('#big-video-wrap').transit({'left':'-100%'},transitionDur)
			}

			(Modernizr.csstransitions)?
				$('.wrapper').transit(
				{'left':'-'+(100*(screenIndex-1))+'%'},
				transitionDur,
				onTransitionComplete):
			onTransitionComplete();
		}

		function onVideoLoaded() {
			$('#screen-'+screenIndex).find('.big-image').transit({'opacity':0},500)
		}

		function onTransitionComplete() {
			isTransitioning = false;
		}

		function adjustImagePositioning() {
			$bigImage.each(function(){
				var $img = $(this),
						img = new Image();

				img.src = $img.attr('src');

				var windowWidth = $window.width(),
						windowHeight = $window.height(),
						r_w = windowHeight / windowWidth,
						i_w = img.width,
						i_h = img.height,
						r_i = i_h / i_w,
						new_w, new_h, new_left, new_top;

				if( r_w > r_i ) {
					new_h   = windowHeight;
					new_w   = windowHeight / r_i;
				}
				else {
					new_h   = windowWidth * r_i;
					new_w   = windowWidth;
				}

				$img.css({
					width   : new_w,
					height  : new_h,
					left    : ( windowWidth - new_w ) / 2,
					top     : ( windowHeight - new_h ) / 2
				})

			});

		}
	});
</script>