<%= form_for(@area, html: {role: "form", oninput: "x.value=parseInt(area_zoom.value)"}) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-field <%=if @area.errors[:name].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-field <%=if @area.errors[:state].present? then 'has-error' else 'has-success' end %>">
      <%= f.label :state_id %><br>
      <%= select("area", "state_id", State.all.collect {|r| [ r.name, r.id ] }, {include_blank: ''},
       class: "form-control" )  %>
    </div>
    

    <div class="form-field <%=if @area.errors[:weather].present? then 'has-error' end %>">
      <%= f.label :weather %><br>
      <%= f.text_field :weather, class: "form-control" %>
    </div>
    <div class="form-text  <%=if @area.errors[:description].present? then 'has-error' end %>">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-text <%=if @area.errors[:history].present? then 'has-error' end %>">
      <%= f.label :history %><br>
      <%= f.text_area :history, class: "form-control" %>
    </div>

    <br>
    <%= render 'static/googleMap' %>
        <div class="form-field <%=if @area.errors[:latitude].present? then 'has-error' else 'has-success' end %> ">
      <label for="latitude">Latitude</label>
      <input class="form-control" id="latitude" name="area[latitude]" type="text" value="<%= if @area.latitude then @area.latitude else 0.0 end %>" />
    </div>

    <div class="form-field <%=if @area.errors[:longitude].present? then 'has-error' else 'has-success' end %> ">
      <label for="longitude">Longitude</label>
      <input class="form-control" id="longitude" name="area[longitude]" type="text" value="<%= if @area.longitude then @area.longitude else 0.0 end %>" />
    </div>

    <div>    
      <label for="zoom">Zoom</label><br>
      <input id="zoom" name="area[zoom]" type='number' 
      value="<%= if @area.zoom then @area.zoom else 2 end %>" class="form-field" />
    </div>


    <div class="actions col-md-12">
      <%= f.submit class: "form-button" %>
    </div>
  </div>
<% end %>
