<h2>Area</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>State:</strong>
  <%= if @area.state
        link_to @area.state.name, state_path(@area.state) 
      else 
        "Deleted, please re-select" 
      end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @area.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @area.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @area.zoom %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @area.weather %>
</p>

<p>
  <strong>Description:</strong>
  <%= @area.description %>
</p>

<p>
  <strong>History:</strong>
  <%= @area.history %>
</p>

<br>

<strong>Territories</strong>
<%= render 'territories/table' %>

<div class="col-md-12">
  <%= link_to 'Edit', edit_area_path(@area) %> |
  <%= link_to 'Add Territory', new_territory_path(id: @area.id.to_s) %> |
  <%= link_to 'Back', areas_path %>
</div>