<h2>Territory</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @territory.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= if @territory.area
        link_to @territory.area.name, area_path(@territory.area) 
      else 
        "Deleted, please re-select" 
      end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @territory.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @territory.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @territory.zoom %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @territory.directions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @territory.description %>
</p>

<p>
  <strong>History:</strong>
  <%= @territory.history %>
</p>

<br>
<%= render 'static/googleMap' %>
<br>

<strong>Crags</strong> | <%= link_to 'Add Crag', new_crag_path(id: @territory.id.to_s) %>
<%= render "crags/table" %>

<%= link_to 'Edit', edit_territory_path(@territory) %> |
<%= link_to 'Back', territories_path %>
