<h2>Traditonal Route Photo</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @traditional_route_photo.title %>
</p>

<p>
  <strong>Traditional route:</strong>
  <%= if @traditional_route_photo.traditional_route != nil then @traditional_route_photo.traditional_route.name else "Deleted, please re-select" end %>
</p>

<p>
  <strong>Image:</strong></br>
  <image class="image_thumbnail" src="<%= @traditional_route_photo.url %>"/>
</p>

<%= link_to 'Edit', edit_traditional_route_photo_path(@traditional_route_photo) %> |
<%= link_to 'Back', traditional_route_path(@traditional_route_photo.traditional_route) %>
