<%= form_for(@boulder_route) do |f| %>
  <% if @boulder_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boulder_route.errors.count, "error") %> prohibited this boulder_route from being saved:</h2>

      <ul>
      <% @boulder_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude, class: "form-control" %>
    </div>

    <div class="form-field">
      <%= f.label :zoom %><br>
      <%= f.number_field :zoom, class: "form-control" %>
    </div>
    
    <div class="form-field">
      <%= f.label :wall_id %><br>
      <%= f.text_field :wall_id, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :danger_rating %><br>
      <%= f.text_field :danger_rating, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :stars %><br>
      <%-5.times do |i|%>
        <input type="radio" name="boulder_route[stars]" value="<%=i+1%>", class: "form-control"> <%=i+1%> 
      <%-end%>
    </div>
    <div class="form-field">
      <%= f.label :pads %><br>
      <%= f.number_field :pads, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :hueco_grade %><br>
      <%= f.text_field :hueco_grade, class: "form-control" %>
    </div>
    <div class="form-field">
      <%= f.label :length %><br>
      <%= f.text_field :length, class: "form-control" %>
    </div>

    <div class="form-text">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-text">
      <%= f.label :directions %><br>
      <%= f.text_area :directions, class: "form-control" %>
    </div>

    <div class="actions col-md-12">
      <%= f.submit %>
    </div>
  </div>
<% end %>
