<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%=if @region.errors[:name].present? then 'has-error' else 'has-success' end %> ">
    <div class="form-field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control"  %>
    </div>
    

    <div class="form-text">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control"  %>
    </div>
    <div class="form-text">
      <%= f.label :history %><br>
      <%= f.text_area :history, class: "form-control"  %>
    </div>


    <br>
    <%= render 'static/adminMap' %>
    
    <div class="form-field <%=if @region.errors[:latitude].present? then 'has-error' else 'has-success' end %> ">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude, class: "form-control"  %>
    </div>
    <div class="form-field <%=if @region.errors[:longitude].present? then 'has-error' else 'has-success' end %> ">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude, class: "form-control"  %>
    </div>


    <div class="form-field <%=if @region.errors[:latitude].present? then 'has-error' else 'has-success' end %> ">
      <label for="region_latitude">Latitude</label>
      <input class="form-control" id="latitude" name="region[latitude]" type="text">  
    </div>

    <div>    
      <label for="zoom">Zoom</label><br>
      <input id="zoom" name="region[zoom]" type='number' 
      value="<%= if @region.zoom then @region.zoom else 8 end %>" class="form-field" />
    </div>

    <div class="actions col-md-12">
      <%= f.submit class: "form-button" %>
    </div>

  </div>
  
<% end %>
