<h2>Region</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @region.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @region.longitude %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @region.zoom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region.description %>
</p>

<p>
  <strong>History:</strong>
  <%= @region.history %>
</p>

<br>
<%= render 'static/googleMap' %>
<br>

<strong>States</strong> | <%= link_to 'Add State', new_state_path(id: @region.id.to_s) %>
<%= render 'states/table' %>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
