<!DOCTYPE html>
<html ng-app="">
<head>
  <title>TrailSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUfsk2tJNor_94XT68dBaQjIMbzmpU0hw">
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	
</head>
<body>

<%= render "static/adminToolbar" %>
<%= render "static/login_box" %>

<%= yield %>

</body>
</html>
